#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.discount{
  position: absolute;
  color: black;
  background: yellow;
  border-radius: 25%;
  padding: 5px 10px; /* Adds spacing inside the tag */
  font-weight: bold;
  font-size: 14px;
  z-index: 10; 
  border: 2px solid rgb(121, 121, 7);
}
.image-container{
  position: relative;
  display: inline-block;
}

.product{
  background-color: rgb(243, 216, 216);
}
.product1:hover{
  background-color: #ea6969;
  transform: scale(1.03);
  border-radius: 30px;

  }
  /* .product:hover{
    background-color: rgb(233, 208, 162);
    transform: scale(1.01);
  } */
  .logobtn{
    background-color: rgb(255, 255, 255) ;
    border: none;
    padding: 50px;
    justify-content: start;
}
.cartbtn{
  background-color: white;
  color: black;
  border: none;

}
.cartbtn:hover{
transform: scale(1.07);
}


/* .bi:hover{
  background-color:  #ea6969;
  border-radius: 10px;
  transform: scale(1.05);
} */

.button{
  background-color: white;
  color: black;
}
  .logobtn img{
    width: 100px;
    height: auto;
  }
.image-container{
  position: relative;
}
.myborder{
  border: 2px black solid;
}
.cart{
  width: 200px;
  justify-content: center;
  background-color: none;
}
.cartbtn{
background-color: none;
}
/* .img{
  width: 25%;
} */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
